{% extends 'base.html' %}
{% block body %}
  <body>
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Список всех заказов</h1>
    </div>
    <br>
    <div class="container">
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Номер</th>
      <th scope="col">Имя</th>
      <th scope="col">Фамилия</th>
      <th scope="col">Email</th>
      <th scope="col">Дата оформления</th>
      <th scope="col">Сумма</th>
      <th scope="col">Статус</th>
    </tr>
  </thead>
  <tbody>
  {% for order in orders%}
    <tr>
      <th scope="row">{{order.id}}</th>
      <td>{{order.reference}}</td>
      <td>{{order.first_name}}</td>
      <td>{{order.last_name}}</td>
      <td>{{order.email}}</td>
      <td>{{order.date}}</td>
      <td>{{order.total_sum}}</td>
      <td>{{order.status}}</td>
      <td><a href="{{url_for('order', id=order.id)}}">Подробнее</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
      </div>
  </body>
{% endblock %}